<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title
        class="accent--text text-h5 text-md-h4 font-weight-bold">Busterblocks
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <p v-if="cart.cartCost && $router.currentRoute.path !== '/cart'"
      class="accent--text ma-0 font-weight-bold">
        £{{cart.cartCost }}
      </p>
      <v-btn icon v-if="$router.currentRoute.path !== '/cart'">
        <v-icon color="accent"
                @click="$router.push('cart')">
          mdi-cart-outline
        </v-icon>
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{on}">
          <v-btn v-on="on" icon><v-icon color="accent" large>mdi-chevron-down</v-icon></v-btn>
        </template>
        <v-list>
          <v-list-item v-if="email">
            <p class="ma-0 accent--text text-body-1 font-weight-bold"><v-icon color="accent">mdi-account-outline</v-icon> {{ email }}</p>
          </v-list-item>
          <v-list-item v-if="!loggedIn" @click="setRouteToCheckout(false); setModal('login'); openModal();">
            <p class="ma-0 primary--text text-body-1 font-weight-bold"><v-icon color="primary">mdi-account-arrow-right-outline</v-icon> Log in</p>
          </v-list-item>
          <v-list-item v-if="!loggedIn" @click="setRouteToCheckout(false); setModal('register'); openModal();">
            <p class="ma-0 primary--text text-body-1 font-weight-bold"><v-icon color="primary">mdi-account-plus-outline</v-icon> Register</p>
          </v-list-item>
          <v-list-item v-if="loggedIn" @click="logout">
            <p class="ma-0 primary--text text-body-1 font-weight-bold"><v-icon color="primary">mdi-account-arrow-left-outline</v-icon> Log out</p>
          </v-list-item>
          <v-list-item v-if="$router.currentRoute.path !== '/dvds'"
                       @click="$router.push('dvds')">
            <p class="ma-0 primary--text text-body-1 font-weight-bold"><v-icon color="primary">mdi-movie-open-outline</v-icon> Movies</p>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row justify="center">
          <v-col xl="2" lg="2" md="8" class="d-none d-sm-flex"></v-col>
          <v-col xl="8" lg="8" md="8" sm="12" xs="12">
            <router-view></router-view>
          </v-col>
          <v-col xl="2" lg="2" md="8" class="d-none d-sm-flex"></v-col>
        </v-row>
        <LoginRegisterModal></LoginRegisterModal>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>

import { mapGetters, mapActions } from 'vuex';
import { axios } from '../axios';
import LoginRegisterModal from "@/components/modals/LoginRegisterModal";

export default {
  name: 'App',
  components: {LoginRegisterModal},
  data: () => ({
    //
  }),
  computed: {
    ...mapGetters(['loggedIn', 'logInRegisterModal', 'email']),
    ...mapGetters('cart', ['cart']),
  },
  methods: {
    ...mapActions(['setLoggedIn', 'setModal', 'openModal']),
    ...mapActions('cart', ['setRouteToCheckout']),
    async logout() {
      const response = await axios.get('/logout', {
        withCredentials: true,
      });

      if (response && response.status === 200) {
        this.setLoggedIn();
        this.$router.push('/dvds').catch(err => {});
      }
    },
  },
  mounted() {
    this.setLoggedIn();
  }
};
</script>
