<template>
  <div>
    <div v-if="cart && cart.length !== 0">
      <h2 class="text-h4 text-center primary--text">Cart</h2>
      <v-list>
        <v-list-item v-for="product in cart.products" :key="product.product.id" v-if="product.qty">
          <v-list-item-avatar tile size="50">
            <v-img :src="imageURL(product.product.image)"></v-img>
          </v-list-item-avatar>
          <v-list-item-title>{{ product.product.name }}</v-list-item-title>
          <v-list-item-title class="text-right mr-3">{{ product.qty }}</v-list-item-title>
          <v-btn icon @click="decreaseQuantity(product.product.id)">
            <v-icon>mdi-minus</v-icon>
          </v-btn>
          <v-btn icon @click="increaseQuantity(product.product.id)">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
          <p class="body-1 font-weight-bold my-0 ml-4">£{{ product.productCost }}</p>
        </v-list-item>
        <div>
          <v-divider></v-divider>
          <v-list-item>
            <v-list-item-title class="font-weight-bold text-right">Total cost: £{{ cart.cartCost }}</v-list-item-title>
          </v-list-item>
          <v-btn rounded color="primary" class="float-right mr-3 accent--text" @click="checkout">Checkout</v-btn>
          <v-btn rounded color="primary" class="float-right mr-3" @click="clearCart">Empty cart</v-btn>
        </div>
      </v-list>
    </div>
    <div v-else>
      <h2 class="text-h4 text-center primary--text">The cart is empty <v-icon large color="primary">mdi-cart-remove</v-icon></h2>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {
  name: "Cart",
  computed: {
    ...mapGetters('cart', ['cart']),
    ...mapGetters(['loggedIn'])
  },
  methods: {
    ...mapActions('cart',
      ['fetchCart',
      'increaseQuantity',
        'decreaseQuantity',
        'clearCart', 'setRouteToCheckout']),
    ...mapActions(['setModal', 'openModal']),
    imageURL(name) {
      return require("../assets/products/" + name)
    },
    checkout() {
      if(!this.loggedIn) {
        this.setRouteToCheckout(true);
        this.setModal('home');
        this.openModal();
      } else {
        this.$router.push('/checkout');
      }
    }
  },
  mounted() {
    this.fetchCart();
    console.log(this.cart);
  }
}
</script>

<style scoped>

</style>
