<template>
  <div>
    <div v-if="showCheckout">
      <h2 class="text-h4 text-center primary--text">Checkout</h2>
      <v-list>
        <p class="primary--text text-center text-subtitle-1 font-weight-bold mb-0">Order Details</p>
        <v-list-item v-for="product in cart.products" :key="product.product.id" v-if="product.qty">
          <v-list-item-avatar tile size="50">
            <v-img :src="imageURL(product.product.image)"></v-img>
          </v-list-item-avatar>
          <v-list-item-title>{{ product.product.name }}</v-list-item-title>
          <v-list-item-title class="text-right mr-3">{{ product.qty }}</v-list-item-title>
          <p class="body-1 font-weight-bold my-0 ml-4">£{{ product.productCost }}</p>
        </v-list-item>
        <div>
          <v-divider></v-divider>
          <v-list-item>
            <v-list-item-title class="font-weight-bold text-right">Total cost: £{{ cart.cartCost }}</v-list-item-title>
          </v-list-item>
          <v-divider></v-divider>
        </div>
      </v-list>
      <v-form>
        <v-container>
          <p class="primary--text text-center text-subtitle-1 font-weight-bold mb-0">Delivery Details</p>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field label="Name" v-model="name" :rules="required"></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field label="Email" v-model="email_address"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="6">
              <v-text-field label="Door Number / Name" v-model="door" :rules="required"></v-text-field>
            </v-col>
            <v-col cols="6" md="6">
              <v-text-field label="Post Code" v-model="postcode" :rules="required"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Street" v-model="street" :rules="required"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-divider></v-divider>
        <v-container>
          <p class="primary--text text-center text-subtitle-1 font-weight-bold mb-0">Payment Details</p>
          <p class="primary--text text-center text-subtitle-1 font-weight-bold mb-0">(For demonstration purposes, these
            details will not be recorded)</p>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field label="Name On Card" v-model="cardName"></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field label="Card Number" type="number" v-model="cardNo"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="6">
              <v-text-field label="Expiry Date" type="month" v-model="cardExp"></v-text-field>
            </v-col>
            <v-col cols="6" md="6">
              <v-text-field label="CVV" type="number" v-model="cvv"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-btn rounded color="primary" class="float-right mr-3 accent--text" @click="placeOrder">Confirm Order</v-btn>
    </div>
    <v-alert v-if="showNotification" :type="notificationType" :dismissible="dismissible">{{notificationMessage }}</v-alert>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {axios} from "../../axios";
import OrderMessage from "@/constants/OrderMessage";

export default {
  name: "Checkout",
  data: () => ({
    name: '',
    email_address: '',
    door: '',
    street: '',
    postcode: '',
    cardName: '',
    cardNo: null,
    cardExp: null,
    cvv: null,
    showCheckout: true,
    showNotification: false,
    responseCode: 0,
    orderNumber: 0,
    dismissible: false,
    required: [
      v => !!v || 'Required'
    ],
  }),
  computed: {
    ...mapGetters('cart', ['cart']),
    ...mapGetters(['email']),
    notificationMessage() {
      if (this.responseCode === 201) {
        return OrderMessage.Success + this.orderNumber
      } else {
        return OrderMessage.Fail
      }
    },
    notificationType() {
      if (this.responseCode === 201) {
        return 'success'
      } else {
        return 'warning'
      }
    },
  },
  methods: {
    ...mapActions('cart', ['fetchCart', 'clearCart']),
    imageURL(name) {
      return require("../assets/products/" + name)
    },
    async placeOrder() {
      this.showNotification = false;
      try {
        const response = await axios.post('/order', {
          door: this.door,
          street: this.street,
          postcode: this.postcode,
        })

        if (response) {
          this.responseCode = response.status;
          this.orderNumber = response.data;
          this.showCheckout = false;
          this.dismissible = false;
          this.showNotification = true;
          this.clearCart();
        }
      } catch (e) {
        this.responseCode = e.response.status;
        this.dismissible = true;
        this.showNotification = true;
      }
    },
  },
  mounted() {
    this.fetchCart();
    this.email_address = this.email;
  },
}
</script>

<style scoped>

</style>
