<template>
  <div>
    <h1>Login</h1>
    <login-form></login-form>
  </div>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue';

export default {
  name: 'Login',
  components: { LoginForm },
};
</script>

<style scoped>

</style>
