<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="6"></v-col>
        <v-col cols="6">
          <v-select placeholder="Categories" :items="categories" item-text="name" item-value="id" @input="changeCategory" clearable></v-select>
        </v-col>
      </v-row>
      <v-row class="wrap" justify="center" justify-md="start">
        <Product
        v-for="product in products"
        :key="product.id"
        :product="product">
        </Product>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Product from '@/components/Product.vue';

export default {
  name: 'Products',
  data: () => ({
    selectedCategory: null
  }),
  components: { Product },
  computed: {
    ...mapGetters('product', ['products']),
    ...mapGetters('category', ['categories'])
  },
  methods: {
    ...mapActions('product', ['fetchProducts']),
    ...mapActions('category', ['fetchCategories']),
    changeCategory(id) {
      this.fetchProducts(id);
    }
  },
  mounted() {
    this.fetchCategories();
    this.fetchProducts(null);
  },
};
</script>

<style scoped>

</style>
