<template>
  <div>
    <v-alert v-if="showNotification" :type="notificationType">
      {{ notificationMessage }}
    </v-alert>
    <h2 class="text-h4 text-center primary--text">Log in</h2>
    <v-form>
      <v-text-field
        label="Email" v-model="email" :rules="emailRules"></v-text-field>
      <v-text-field label="Password" v-model="password" type="password"></v-text-field>
      <v-btn rounded color="primary" class="float-right mr-3 accent--text" @click="login">Log in</v-btn>
      <v-btn v-if="routeToCheckout" rounded color="primary" class="float-right mr-3" @click="setModal('home')">Back</v-btn>
    </v-form>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import { axios } from '../../axios';
import LoginMessage from "@/constants/LoginMessage";

export default {
  name: 'LoginForm',
  data: () => ({
    email: '',
    password: '',
    showNotification: false,
    responseCode: 0,
    emailRules: [
      v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ]
  }),
  computed: {
    ...mapGetters('cart', ['routeToCheckout']),
    notificationMessage() {
      if (this.responseCode === 200) {
        return LoginMessage.Success
      } else {
        return LoginMessage.Fail
      }
    },
    notificationType() {
      if (this.responseCode === 200) {
        return 'success'
      } else {
        return 'warning'
      }
    },
  },
  methods: {
    ...mapActions(['setLoggedIn', 'setModal', 'setEmail']),
    async login() {
      try {
        const response = await axios.post('/login', {
          username: this.email,
          password: this.password,
        }, {
          withCredentials: true,
          headers:
            {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
        });

        if (response && response.status === 200) {
          this.setLoggedIn();
          this.responseCode = response.status;
          this.showNotification = true;
          this.email = '';
          this.password = '';
          this.setEmail(response.data);

          if(this.routeToCheckout) {
            this.$router.push('/checkout');
          }
        }
      } catch (e) {
        // Handle this
        console.log(e.response.status);
        this.responseCode = e.response.status;
        this.showNotification = true;
      }
    },
  },
};
</script>

<style scoped>

</style>
