<template>
  <div>
    <h2 class="text-h4 text-center primary--text">Please Log in or Register to Continue</h2>
    <v-container class="text-center mt-3">
      <v-row>
        <v-col>
          <v-btn rounded color="primary" class="accent--text" @click="setModal('login')">Log in</v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn rounded color="primary" class="accent--text" @click="setModal('register')">Register</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "LoginRegisterHome",
  methods: {
    ...mapActions(['setModal'])
  }
}
</script>

<style scoped>

</style>
