<template>
  <div>
    <v-card width="210px" height="420px" class="ma-5">
      <v-img :src="imageURL" height="75%" contain></v-img>
      <v-card-title class="subtitle-1 justify-center ma-0 pa-0">{{ product.name }}</v-card-title>
      <v-card-text class="my-0 py-2 text-center">
        <v-row class="justify-center">
          £{{ product.price }}
        </v-row>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn-toggle>
          <v-btn active-class="no-active" @click="reduceQuantity">
            <v-icon>mdi-minus</v-icon>
          </v-btn>
          <v-btn class="disable-events">{{ quantity }}</v-btn>
          <v-btn active-class="no-active" @click="increaseQuantity">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
          <v-btn active-class="no-active" @click="add">
            <v-icon :color="cartColour">mdi-cart-outline</v-icon>
          </v-btn>
        </v-btn-toggle>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>

import { mapActions } from "vuex";

export default {
  name: 'Product',
  data: () => ({
    quantity: 0,
  }),
  props: ['product'],
  computed: {
    imageURL() {
      return require("../assets/products/" + this.product.image);
    },
    cartColour () {
      // Change the colour of the cart icon if the items have not been added.
      if (this.quantity !== 0) {
        return 'primary'
      }
      return ''
    },
  },
  methods: {
    ...mapActions('cart' ,['addToCart']),
    reduceQuantity () {
      if (this.quantity > 0) {
        // Reduce the quantity of the selected sweet.
        this.quantity--
      }
    },
    increaseQuantity () {
      // Increase the quantity of the selected sweet.
      this.quantity++
    },
    add () {
      if (this.quantity > 0) {
        // Add the correct quantity of the selected sweet to the cart.
        this.addToCart([this.product.id, this.quantity]);

        // Reset the quantity of the selected product.
        this.quantity = 0
      }
    },
  },
};
</script>

<style scoped>

</style>
