<template>
  <div>
    <v-alert v-if="showNotification" :type="notificationType">
      {{ notificationMessage }}
    </v-alert>
    <h2 class="text-h4 text-center primary--text">Register</h2>
    <v-form>
      <v-text-field label="Email" v-model="email" :rules="emailRules"></v-text-field>
      <v-text-field label="Password" v-model="password" type="password" :rules="passwordRules"></v-text-field>
      <v-btn rounded color="primary" class="float-right mr-3 accent--text" @click="register">Register</v-btn>
      <v-btn v-if="routeToCheckout" rounded color="primary" class="float-right mr-3" @click="setModal('home')">Back</v-btn>
    </v-form>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';
import {axios} from '../../axios';
import RegisterMessage from "@/constants/RegisterMessage";

export default {
  name: 'RegisterForm',
  data: () => ({
    email: '',
    password: '',
    showNotification: false,
    responseCode: 0,
    emailRules: [
      v => !!v || 'Required',
      v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
    ],
    passwordRules: [
      v => !!v || 'Required',
      v => (v || '').length <= 50 ||
        `A maximum of 50 characters is allowed`,
      v => (v || '').length > 8 ||
        `Password must be a minimum of 8 characters`,
      v => /[0-9]/.test(v) || 'Password must contain at least one number'
    ],
  }),
  computed: {
    ...mapGetters('cart', ['routeToCheckout']),
    notificationMessage() {
      if (this.responseCode === 201) {
        return RegisterMessage.Success
      } else if (this.responseCode === 409) {
        return RegisterMessage.ExistingEmail
      } else {
        return RegisterMessage.MissingField
      }
    },
    notificationType() {
      if (this.responseCode === 201) {
        return 'success'
      } else if (this.responseCode === 409) {
        return 'info'
      } else {
        return 'warning'
      }
    },
  },
  methods: {
    ...mapActions(['setLoggedIn', 'setModal', 'setEmail']),
    async register() {
      try {
        const response = await axios.post('/users', {
          email: this.email,
          password: this.password,
        }, {
          headers:
            {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
        });

        if (response) {
          this.responseCode = response.status;
          this.showNotification = true

          try {
            const response = await axios.post('/login', {
              username: this.email,
              password: this.password,
            }, {
              withCredentials: true,
              headers:
                {
                  Accept: 'application/json',
                  'Content-Type': 'application/json',
                },
            });

            if (response && response.status === 200) {
              this.setLoggedIn();
              this.setEmail(response.data);

              if(this.routeToCheckout) {
                this.$router.push('/checkout');
              }
            }
          } catch (e) {
            // Handle this
            console.log(e.response.status);
          }

          this.email = '';
          this.password = '';
        }
      } catch (e) {
        this.responseCode = e.response.status;
        this.showNotification = true;
      }
    }
  },
};
</script>

<style scoped>

</style>
