<template>
  <div>
    <v-dialog :value="logInRegisterModal" scrollable max-width="700px" @click:outside="closeModal">
      <v-card height="100%" min-height="300px" class="pa-12">
        <LoginForm v-if="logIn"></LoginForm>
        <RegisterForm v-if="register"></RegisterForm>
        <LoginRegisterHome v-if="home"></LoginRegisterHome>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';
import LoginForm from "@/components/LoginForm";
import LoginRegisterHome from "@/components/LoginRegisterHome";
import RegisterForm from "@/components/RegisterForm";

export default {
name: "LoginRegisterModal",
  components: {RegisterForm, LoginRegisterHome, LoginForm},
  computed: {
  ...mapGetters([
    'logInRegisterModal',
    'logIn',
    'register',
    'home'])
  },
  methods: {
  ...mapActions(['closeModal'])
  }
}
</script>

<style scoped>

</style>
